SET STANDARD_CONFORMING_STRINGS TO ON;
BEGIN;
CREATE TABLE "tb_focosqueimadas" (gid serial PRIMARY KEY,
"id" varchar(30),
"lat" numeric,
"lon" numeric,
"latgms" varchar(15),
"longms" varchar(15),
"data" int4,
"hora" int4,
"satelite" varchar(15),
"municipio" varchar(60),
"uf" varchar(30),
"regiao" varchar(3),
"pais" varchar(25),
"vegetacao" varchar(30),
"suscet" varchar(15),
"prec" numeric,
"ndiasschuv" int4,
"risco" numeric,
"persist" int4,
"objeid_21" varchar(16));
SELECT AddGeometryColumn('','tb_focosqueimadas','the_geom','4291','POINT',2);
INSERT INTO "tb_focosqueimadas" ("id","lat","lon","latgms","longms","data","hora","satelite","municipio","uf","regiao","pais","vegetacao","suscet","prec","ndiasschuv","risco","persist","objeid_21",the_geom) VALUES ('S210500O49580020070820120000','-21.083300000000001','-49.966700000000003','S 21 4 60.00','O 49 58 0.00','20070820','0','GOES-10','Planalto','SP','SD','Brasil','NaoFloresta','MEDIA','0.000000000000000','15','0.900000000000000','0','0','0101000020C3100000AC8F87BEBBFB48C075ADBD4F551535C0');
INSERT INTO "tb_focosqueimadas" ("id","lat","lon","latgms","longms","data","hora","satelite","municipio","uf","regiao","pais","vegetacao","suscet","prec","ndiasschuv","risco","persist","objeid_21",the_geom) VALUES ('S210500O49570020070820120000','-21.083300000000001','-49.950000000000003','S 21 4 60.00','O 49 57 0.00','20070820','0','GOES-10','Planalto','SP','SD','Brasil','NaoFloresta','MEDIA','0.000000000000000','15','0.900000000000000','0','1','0101000020C31000009A99999999F948C075ADBD4F551535C0');
INSERT INTO "tb_focosqueimadas" ("id","lat","lon","latgms","longms","data","hora","satelite","municipio","uf","regiao","pais","vegetacao","suscet","prec","ndiasschuv","risco","persist","objeid_21",the_geom) VALUES ('S222200O50480020070820120000','-22.366700000000002','-50.799999999999997','S 22 22 0.00','O 50 47 60.00','20070820','4500','GOES-10','JoÒo Ramalho','SP','SD','Brasil','EstacionalSemidecidual','MEDIA','0.000000000000000','15','0.900000000000000','0','10','0101000020C310000066666666666649C0BE8575E3DD5D36C0');
END;
BEGIN;
END;
BEGIN;
END;
BEGIN;
END;
BEGIN;
END;
BEGIN;
END;
BEGIN;
END;
BEGIN;
END;
