SET STANDARD_CONFORMING_STRINGS TO ON;
BEGIN;
CREATE TABLE "tb_rodovias" (gid serial PRIMARY KEY,
"object_id_" varchar(255),
"sigla" varchar(200),
"agreount_" int4,
"sprpt_sum" numeric,
"sprrvalue" varchar(32),
"sprnvalue" varchar(32),
"ids_value" numeric,
"siglvalue" varchar(30),
"objexvalue" varchar(16));
SELECT AddGeometryColumn('','tb_rodovias','the_geom','4291','MULTILINESTRING',2);
END;
